@model shophoatuoi.Models.Chucvu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chucvu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvMotacongviec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvMotacongviec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CvMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
