@model IEnumerable<shophoatuoi.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
}

<div class="animated fadeIn">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="card-header" style="font-family:'Times New Roman', Times, serif; font-size:30px ;width: 50%; margin: 0px auto; text-align:center;">
                        <strong class="card-title">Danh Sách Sản Phẩm - <a asp-action="Create" style="color: deeppink;">Tạo Mới</a></strong>
                    </div>
                </div>
                  <div class="body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SpMa)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SpTen)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SpGia)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Hinhanh.HaUrl)
                                                </th>
                                                <th style="width: 305px"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SpMa)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SpTen)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SpGia)
                                                    </td>
                                                    <td>
                                                        <img src="@Html.DisplayFor(modelItem => item.Hinhanh.HaUrl)" height="142" width="142"><img />
                                                    </td>
                                                         <td>
                                                             <a href="@Url.Action("Index","CHITIETCHUDEs", new { id = item.SpMa })" class="btn bg-purple waves-effect"><i class="material-icons">dashboard</i></a>
                                                             <a href="@Url.Action("Index","CHITIETMAUSACs", new { id = item.SpMa })" class="btn bg-blue waves-effect"><i class="material-icons">color_lens</i></a>
                                                             <a href="@Url.Action("Index","CHITIETTHELOAIs", new { id = item.SpMa })" class="btn bg-yellow waves-effect"><i class="material-icons">settings_brightness</i></a>
                                                             <a href="@Url.Action("Index","CHITIETHINHTHUCs", new { id = item.SpMa })" class="btn bg-pink waves-effect"><i class="material-icons">flip_to_back</i></a>
                                                             
                                                             
                                                             <a href="@Url.Action("Edit","SANPHAMs", new { id = item.SpMa })" class="btn bg-orange waves-effect"><i class="material-icons">build</i></a>
                                                             <a href="@Url.Action("Delete", "SANPHAMs", new { id = item.SpMa })" class="btn bg-red waves-effect"><i class="material-icons">delete</i></a>
                                                         </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>                       
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
