@model shophoatuoi.Models.Khachhangdat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Khachhangdat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhSdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhSdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhDiachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhDiachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KhMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
