@model shophoatuoi.Models.Chitiettheloai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chitiettheloai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpMaNavigation.SpMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TlMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TlMaNavigation.TlMa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CttlMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
