@model shophoatuoi.Models.Baiviet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Baiviet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BvTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BvTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BvNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BvNoidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BvMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
