@model shophoatuoi.Models.Chitiethoadon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chitiethoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CthdSoluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CthdSoluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CthdTamtinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CthdTamtinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CthdPhigiaohang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CthdPhigiaohang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CthdThanhtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CthdThanhtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdMaNavigation.HdMa)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhMaNavigation.KhMa)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpMaNavigation.SpMa)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CthdMa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
