@model IEnumerable<shophoatuoi.Models.Chitiethoadon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CthdSoluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CthdTamtinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CthdPhigiaohang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CthdThanhtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HdMaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhMaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpMaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CthdSoluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CthdTamtinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CthdPhigiaohang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CthdThanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HdMaNavigation.HdMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhMaNavigation.KhMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpMaNavigation.SpMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CthdMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CthdMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CthdMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
