@model shophoatuoi.Models.Hoadon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdNgaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdNgaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdNgyagiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdNgyagiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdDiachinguoinhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdDiachinguoinhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdTennguoinhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdTennguoinhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdSdtnguoinhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdSdtnguoinhan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HdMa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
