@model IEnumerable<shophoatuoi.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
}
<div class="animated fadeIn">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="card-header" style="font-family:'Times New Roman', Times, serif; font-size:30px ;width: 50%; margin: 0px auto; text-align:center;">
                        <strong class="card-title">Danh Sách Hóa Đơn - <a asp-action="Create" style="color: deeppink;">Tạo Mới</a></strong>
                    </div>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdMa)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdNgaydat)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdNgyagiao)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdDiachinguoinhan)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdTennguoinhan)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HdSdtnguoinhan)
                                                </th>
												<th style="width: 120px"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdMa)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdNgaydat)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdNgyagiao)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdDiachinguoinhan)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdTennguoinhan)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HdSdtnguoinhan)
                                                    </td>
													<td>
                                                        <a asp-action="Index", asp-controller="Chitiethoadons" asp-route-id="@item.HdMa" class="btn bg-orange waves-effect"><i class="material-icons">shopping_cart</i></a>
                                                        <a asp-action="Edit" asp-route-id="@item.HdMa"class="btn bg-orange waves-effect"><i class="material-icons">build</i></a>
														<a asp-action="Delete" asp-route-id="@item.HdMa"class="btn bg-red waves-effect"><i class="material-icons">delete</i></a>
                                                        <a asp-action="Print" asp-controller="Hoadons" asp-route-id="@item.HdMa" class="btn btn-custon-three btn-info" style="color:white;" type="button" target="_blank">Nhấn để In</a>
													</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
